body {
    margin: 0;
}

#main {
    display: flex;
    height: 100vh;
}

#left {
    flex: 2;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

#inputSection {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    border-bottom: 2px solid black;
}

.list form{
    margin-top: 0.4em;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.list form{
    flex-basis: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right {
    padding: 10% 10%;
    flex: 6;
    background-color: white;
    justify-content: center;
    text-align: center;
}

#right form {
    margin: 1em;
}

.right-list{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.list-item {
    font-size: 2em;
}

.list-item:hover {
    background-color: rgb(230, 230, 230);
}

h1 {
    font-size: 7em;
    margin: 0;
}

